@import '../styles/main.scss';
.pt-container{
    .pt-header-container{
        height: 30px;
        font-size: $regular-font;
        padding: $medium-spacing;
        color: $primary-blue;
        border-bottom: 1px solid $grey-2;
        @include sm {
            height: 90px;
        }
        @include md {
            height: 60px;
            padding-top: 12px;
        }
        .logo-container{
            float: left;
            @include sm {
                width: 100%;
                text-align: center;
            }
            @include md {
                width: 50%;
                text-align: left;
            }
        }
        .header-title{
            line-height: 30px;
            float: left;
            @include sm {
                width: 100%;
                text-align: center;
            }
            @include md {
                width: 50%;
                text-align: right;
            }
        }
    }
    .pt-main-container{
        background-image: url('#{$img-path}background.jpg');
        background-repeat: repeat-x;
        background-size: cover;
        position: relative;
        display: block;
        float: left;
        width: 100%;
        @include sm{
            min-height: calc(100vh - 120px);
            padding: 0 10px 70px 10px;
        }
        @include md{
            min-height: calc(100vh - 90px);
            padding: 35px 50px 50px 50px;
        }
        .pt-list-container{
            float: left;
            @include sm{
                width: 100%;
            }
            @include md{
                width: 69%;
                margin-left: 1%;
            }
        }
        .pt-form-container{
            float: left;
            @include xs{
                width: 100%;
            }
            @include sm{
                width: 100%;
            }
            @include md{
                width: 30%;
            }
        }
    }
    .pt-footer-container{
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        background-color: $white-1;
    }
}