<div class="pt-transaction-list-container">
    <div class="pt-transaction-list-header"><h3 class="fw2 mt1 mb1"><fa-icon [icon]="faList" class="mr2"></fa-icon> Transaction <strong>List</strong></h3></div>
    <div class="pt-transaction-list-body">
        <form class="pt-form">
            <!-- <div class="pt-inp-icon-group search-input">
                <span class="pt-inp-icon"><fa-icon [icon]="faSearch"></fa-icon></span>
                <input type="text" class="pt-input" name="marchentName" [(ngModel)]="marchentName" placeholder="filter transaction" value="" />
            </div> -->
            <div class="search-input"><app-filter (inputChange)="inputChange($event)"></app-filter></div>
            <div class="pt-transaction-list mt2">
                <app-transaction-item class="pt-transaction-list-item" *ngFor="let item of transactions | filterBy: marchentName">
                    <div data-test-hook='transactionColour' class="pt-transaction-colour" 
                    [ngClass]="
                    {
                        'DBIT' : item.transaction.creditDebitIndicator == 'DBIT',
                        'CRDT' : item.transaction.creditDebitIndicator === 'CRDT'
                    }"></div>
                    <div data-test-hook='transactionDate' class="pt-transaction-date">{{item.dates.valueDate | ptDate}}</div>
                    <div data-test-hook='transactionMerchantName' class="pt-transaction-merchant-name fw6">{{item.merchant.name}}</div>
                    <div data-test-hook='transactionType' class="pt-transaction-type">{{item.transaction.type}}</div>
                    <div data-test-hook='transactionAmount' class="pt-transaction-amount" [ngClass]="
                    {
                        'red-txt' : item.transaction.creditDebitIndicator == 'DBIT',
                        'green-txt' : item.transaction.creditDebitIndicator === 'CRDT'
                    }"><fa-icon [icon]="faEuroSign"></fa-icon> {{item.transaction.amountCurrency.amount}}</div>
                </app-transaction-item>
            </div>
        </form>
    </div>
</div>
