.pt-form,.filter-form{
    ::placeholder {
        font-style: italic;
    }
    .pt-label{
        display: inline-block;
        color: $black-1;
        margin-bottom: $small-spacing;
    }
    .pt-input,input.form-control{
        display: inline-block;
        color: $black-1;
        height: 30px;
        padding: $small-spacing;
        border-radius: 4px;
        width: 100%;
        border: 1px solid $grey-3;
        &:focus{
            outline: none;
        }
        &:disabled{
            background-color: $grey-2;
        }
        &.hasError{
            border-color: $danger-red;
        }
    }
    .pt-button button, button.pt-button{
        height: 30px;
        border-radius: 4px;
        border:none;
        padding: 0 $medium-spacing;
        outline: none;
        color: $white-1;
        background-color: $orange-1;
        &.light{
            color: $black-1;
            background-color: $white-1;
            border: 1px solid $grey-3;
        }
    }
    .pt-inp-icon-group, .input-group{
        .pt-inp-icon,.input-group-prepend{
            position: absolute;
            width: 30px;
            background-color: $grey-2;
            height: 30px;
            border-radius: 4px 0 0 4px;
            text-align: center;
            line-height: 30px;
            border: 1px solid $grey-3;
            color: $grey-1;
            &.hasError{
                border-right-color: $danger-red;
            }
            .lni{
                &.lni-search{
                    background-image: url('#{$img-path}search-solid.svg');
                    background-position: center;
                    display: inline-block;
                    height: 14px;
                    width: 20px;
                    background-repeat: no-repeat;
                }
            }
        }
        .pt-inp-icon,.input-group-prepend{
            &+.pt-input,&+input{
                padding-left: 35px;
            }
        }
    }
}