/* You can add global styles to this file, and also import other style files */
body{
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif;
    font-size: 14px;
}
*{
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }