
// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;
$light-1: #ffffff;
$dark-1: #000000;
$dark-2: #666;
$dark-3: #ff5e00;
$dark-4: #ccc;
$dark-5: #999;
$dark-1-opacity:rgba(0,0,0,0.4);
$danger-red: #ff0000;
$success-green: #00ff00;

//font-size
$regular-font: 14px;
$large-font: 20px;
$small-font: 12px;

//screen sizes
$desktop:990px;
$tablet:768px;
$phone:320px;

// phone
@mixin sm {
    @media (min-width: #{$phone}) {
        @content;
    }
 }
 
 // Tablet
 @mixin md {
    @media (min-width: #{$tablet}) {
        @content;
    }
 }
 
 // Desktop
 @mixin lg {
    @media (min-width: #{$desktop}) {
        @content;
    }
 }

 // Custom
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

 //margin padding
 $sizes: 16;
@mixin margin-classes {
  @for $i from 1 through $sizes {
     $margin: $i * 0.25rem;
    /* margin #{$margin} */
    .m#{$i}  {margin: $margin;}
    .ml#{$i} {margin-left: $margin;}
    .mr#{$i} {margin-right: $margin;}
    .mt#{$i} {margin-top: $margin;}
    .mb#{$i} {margin-bottom: $margin;}
    .mx#{$i} {margin-left: $margin; margin-right: $margin;}
    .my#{$i} {margin-top: $margin; margin-bottom: $margin;}
  }
}
@include margin-classes;

@mixin padding-classes {
  @for $i from 1 through $sizes {
    $padding: $i * 0.25rem;
    /* padding #{$padding} */
    .p#{$i} {padding: $padding;}
    .pl#{$i} {padding-left: $padding;}
    .pr#{$i} {padding-right: $padding;}
    .pt#{$i} {padding-top: $padding;}
    .pb#{$i} {padding-bottom: $padding;}
    .px#{$i} {padding-left: $padding; padding-right: $padding;}
    .py#{$i} {padding-top: $padding; padding-bottom: $padding;}
  }
}
@include padding-classes;

@mixin font-weight-classes {
    @for $i from 1 through $sizes {
      $weight: $i * 100;
      /* font-weight #{$weight} */
      .fw#{$i} {font-weight: $weight;}
    }
  }
  @include font-weight-classes;

@mixin headerStyle {
    padding: $medium-spacing;
    background-color: $primary-blue;
    color: $light-1;
    border-radius: 8px 8px 0 0; 
}

@mixin bodyStyle {
    background-color: $light-1;
    padding: $medium-spacing;
}
