@import '../../styles/main.scss';
.transfer-money-container{
    width: 300px;
    margin-top: 50px;
    .transfer-money-form{
        .transfer-money-header{
            padding: $medium-spacing;
            background-color: $primary-blue;;
            color: $light-1;
            border-radius: 8px 8px 0 0;
        }
        .transfer-money-content{
            background-color: $light-1;
            padding: $medium-spacing;
        }
        .transfer-money-footer{
            background-color: $light-1;
            padding: $medium-spacing;
            text-align: right;
            border-radius: 0 0 8px 8px;
        }
    }
}