@import '../../../styles/main.scss';
.transfer-money-container{
    @include sm{
        margin-left: auto;
        margin-right: auto;
    }
    @include md{
        margin-left: 0;
        max-width: 300px;
    }
    .transfer-money-form{
        .transfer-money-header{
            @include headerStyle;
        }
        .transfer-money-content{
            @include bodyStyle;
        }
        .transfer-money-footer{
            background-color: $light-1;
            padding: $medium-spacing;
            text-align: right;
            border-radius: 0 0 8px 8px;
        }
    }
}